<section class="section section-icons lighten-4 bgImg">
	<div class="container">
		<div class="row">
			<div class="col s12 m3">
				<ul class="tabs">
					<li class="tab col s12"><a href="#test1">{{category}}</a></li>
				</ul>
			</div>
		<div class="col s12 m12">
			<div class="card-panel">
				<div class="container">
						<div class="row right">
								<div class="col m3 l3 hide-on-small-only"><div class="imgEcono"></div></div>
							</div>
					<h5 class="hide-on-small-only">{{mesageWelcome}}</h5>
					<div class="row">
						<div class="col s12 m9 l9">
							<label>
								<input name="group1" type="radio" checked />
								<span>Ida e Volta</span>
							</label>
						</div>
					</div>
					<div class="row">
						<div class="col s12 m6 l6">
							<h6>Origem</h6>
							<div class="input-field">
								<input type="text" placeholder="Selecione a origem" class="white grey-text autocomplete" id="auto-origim" >
							</div>
						</div>
						<div class="col s12 m6 l6">
							<h6>Destino</h6>
							<div class="input-field">
								<input type="text" placeholder="Selecione o destino" class="white grey-text autocomplete" id="auto-destiny">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col s6 l3">
							<h6>Data de Ida</h6>
							<div class="input-field">
								<input type="text"  class="white grey-text datepicker">
							</div>
						</div>
						<div class="col s6 l3">
							<h6>Data de Volta</h6>
							<div class="input-field">
								<input type="text"   class="white grey-text datepicker">
							</div>
						</div>
						<div class="input-field col s4 m2 l2">
							<h6>Adultos</h6>
								<select name="optQtdeCrianca">
									<option value="">Nenhuma</option>
									<option value="">1 Adulto</option>
									<option value="">2 Adultos</option>
								</select>
						</div>
						<div class="input-field col s4 m2 l2">
							<h6>Criança</h6>
							<select name="optQtdeCrianca">
								<option>Nenhuma</option>
								<option>1 Criança</option>
								<option>2 Crianças</option>
							</select>
						</div>
						<div class="input-field col s4 m2 l2">
							<h6>Bebê</h6>
							<select name="optQtdeBebe">
								<option>Nenhum</option>
								<option>1 Bebê</option>
								<option>2 Bebês</option>
							</select>
						</div>
					</div>
				</div> 
			</div>
			<div class="row">
				<div class="col s12">
					<button class="btn waves-effect waves-light" type="submit" name="action">Pesquisar</button>
				</div>
			</div> 
		</div>
		</div>
	</div>
</section>